:root {
    --main-color:  #ffffff;
    --second-color:  #757575;
    --title-color:  #212121;
    --background-color: #F5F4FA;
    --logo-color: #2196F3;
}
body {
font-family: "Roboto",  sans-serif;

}

footer {
    background-color: black;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* -----------HEADER_____________*/

.logo {
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: 1.23;
letter-spacing: 0.03em;

color: var(--logo-color);
}

.logo-web {
color:var(--title-color);
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: 1.23;
letter-spacing: 0.03em;
}

.nav-list-link{
 color: var(--title-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.current {
    color: var(--logo-color)
}

.nav-list-link:hover, .nav-list-link:focus {
color: var(--logo-color);
}



.nav-contacts-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-color)
}

.nav-contacts-link:hover {
text-decoration: underline;
color: var(--logo-color);
}

.nav-contacts-link:focus {
text-decoration: underline
color: var(--logo-color);
}

/* -----------MAIN_____________*/

/* -----------MAIN- main page_____________*/
.hero {
    background-color: #2F303A;
}

.hero-title {

font-family: "Roboto";
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.hero-btn {
    color: #FFFFFF;
    background-color: var(--logo-color);
    cursor: pointer;

    font-family: "Roboto";
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}


.benefits-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
}


.benefits-text {

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-color)
}

.section-command {

font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

.command-item-command {
font-weight: 7000;
font-size: 36px;
letter-spacing: 0.03em;
color:var(--title-color);
}

.command-item-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--title-color);
}


.command-item-text { 
    font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-color)
}


.filter-item-btn {
color: var(--title-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}

.filter-item-btn {
cursor: pointer;
}

.filter-item-btn {
    background-color: var(--background-color);
}

.filter-item-btn:hover, .filter-item-btn:focus {
    color: white;
    background-color: #2196F3;
}


.portfolio-title {
font-family: "Roboto";
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: #212121;;
}

.portfolio-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--second-color)
}


/* -----------footer_____________*/

.adress-company-street {
font-family: "Roboto";
font-size: 14px;
line-height: 1.71x;
letter-spacing: 0.03em;
color: #ffffff;
}

.adress-company-mail {
font-family: "Roboto";
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

text-decoration: underline;
color: var(--logo-color);
}

.adress-company-tel {
font-family: "Roboto";
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: underline;
color: var(--logo-color);
}
